
    <div class="row">
        <div class="col-sm-3">
            <img src="/assets/images/pixogram.png"  class="img-thumbnail" alt="LOGO" width="100px" height="100px">
        </div>
        <div class="col-6 text-center">
            <br><br>
            <ul class="nav nav-pills justify-content-center">
                <li class="nav-item">
                    <a href="#" class="nav-link"><b>Upload Media</b></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link "><b>Media</b> </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"><b>Followers/Following</b></a>
                </li>        
            </ul>    
        </div>
        <div class="col-3">
            <br><br>
            <ul class="nav nav-pills justify-content-end">
                <li><a href="#" class="nav-link"><b>Account</b></a></li>
            </ul>
        </div>
     </div>
     